@import "./../styles/reset.css";

/* Tirar isso depois */
a {
  color: black;
}

.header {
  display: flex;
  gap: 105px;
  justify-content: center;
  margin-bottom: 40px;
}

.header h1 {
  margin-top: 40px;
  color: #64008a;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 700;
}

.header img {
  width: 32px;
  height: 32px;
  margin-top: 43px;
}

.camisetas h2 {
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: center;
  margin-right: 400px;
  margin-bottom: 40px;
}

.camisetas {
  margin-bottom: 218px;
}

.camisetas p {
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: center;
  margin-right: 275px;
}

.camisetas span {
  font-weight: bold;
}

.camisetas-item {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-right: 250px;
  margin-bottom: 40px;
}

.camisetas-item img {
  max-width: 168px;
  height: 132px;
  border-radius: 16px;
}

.camisetas-item ul {
  color: #000;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}

.camisetas-item li {
  margin-bottom: 24px;
}

.camisetas-item li:last-child {
  margin-bottom: 0px;
}

.camisetas-item-quantidade {
  background: #64008a;
  padding: 4px 6px;
  border-radius: 4px;
  color: #ffffff;
  word-spacing: 25px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
}

.footer-continuar-comprando {
  text-align: center;
  margin-right: 124px;
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-pagamento {
  text-align: center;
  margin-right: 124px;
}

.footer-pagamento button {
  border-radius: 4px;
  background: #64008a;
  padding: 6px 132px;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
}

.footer-pagamento button:hover {
  background: #4d0073;
}
